/* Global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: #353735;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 20px auto;
}

h2.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}

p.page-subtitle {
  margin-bottom: 20px;
  color: #555;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d4f0d4;
  padding: 16px;
}

.header-logo span {
  font-weight: bold;
  font-size: 25px;
  margin-left: 4px;
  color: #2f6f2f;
}

.button-ghost {
  text-decoration: none;
  color: #2f6f2f;
  font-weight: bold;
}

/* Grid */
.grid {
  display: flex;
  gap: 20px;
}

.grid-3 > .form-section {
  flex: 2;
}

.grid-3 > .summary-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Card */
.card {
  background: #ccd6c9;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  
}
.card-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Trip Info */
.trip-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.trip-arrow {
  flex: 1;
  text-align: center;
}

/* Trip Stats */
.trip-stats {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 12px;
}

/* Inputs */
label {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
}

input, select{
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #d9ded8;
  margin-bottom: 8px;
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(46, 125, 50, 0.4);


}

/* Buttons */
button {
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background: green;
  color: white;
  border: none;
}

.button-outline {
  background: transparent;
  border: 2px solid green;
  color: green;
}

/* Booking Summary */
.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.summary-row.total {
  font-weight: bold;
  font-size: 16px;
}

.terms {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  color: #555;
}

/* Driver Info */
.driver-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.driver-avatar {
  font-size: 32px;
  background: #c8f0c8;
  padding: 8px;
  border-radius: 50%;
}

.sticky {
  position: sticky;
  top: 20px;
}